@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeInScroll {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeInScroll {
  animation: fadeInScroll 2s ease-in forwards;
}

@layer base {
  body {
    background-color: #fffdf1;
    color: #111827; /* equivalent of text-gray-900 */
  }
}

.ribeye-marrow-regular {
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
}

.datatype-font {
  font-family: "Datatype", monospace;
  font-weight: 400;        /* or 700 */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.perspective-1000 { perspective: 1000px; }
.transform-style-preserve-3d { transform-style: preserve-3d; }
.rotate-y-180 { transform: rotateY(180deg); }
.backface-hidden { backface-visibility: hidden; }